div {
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    
}

.link1 {
    border: white solid 2px;
    padding: 5px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;

}

.link1:hover {
    background: white;
}

.corpo01 {
    background: url(Imagens/sea01.jpg);
    background-size: cover;
}


/** imagens **/

#img01 {
    border-top-width: 300px;
}

.imgtext {
    float: left;
    width: 10%;
}

.imgtext01 {
    float: right;
    width: 10%;
}

#video {
    float: right;
    margin-top: -2%;
    margin-bottom: -2%;
}


/**texto de imagens**/

.textvid {
    margin-top: 5%;
    margin-bottom: 6%;
}

.textimg {
    margin-top: 4%;
    margin-bottom: 4%;
}

body {
    margin: 0%;
    background-color: rgba(17, 48, 223, 0.795);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/**Tela reduzida**/

@media screen and (max-width:800px) {
    #img01 {
        margin-bottom: 3%;
    }
    #video {
        float: none;
        max-width: 100%;
    }
    .link1{
        background-color: blanchedalmond;
    }
    .imgtext{
        width: 20%;
    }
    .imgtext01{
        width: 20%;
    }
    .textimg{
        font-size: 120%
    }
    .textvid{
        font-size: 120%;
    }
    div{
        color: rgb(255, 247, 247);
        font-size: 120%;
    }
    .corpo01{
        background-size: 280%;
    }
}